* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;



}

h1 {
    text-align: center;
    padding: 30px;
   
}

h2{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: rgb(233, 210, 79);

}

body {

    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(165,42,42,1);
    color: bisque;
}

#menu {
    margin-left: 60px;

}

#menu li {
    color: bisque;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    margin: 6px;

}

#imagem {
    display: flex;
    justify-content: center;
    
}

#imagem img {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

h3, h4 {
    font-size: 25px;
    color: rgb(233, 210, 79);

}

.listas {
padding: 20px;

}


#containerGeral {
    display: flex;
}

#direito, #esquerdo {
    flex: 1.165;
    height: 20px;
    background-color: rgba(165,42,42,1);
}


#meio {
    background: radial-gradient(circle, rgba(199, 53, 53, 1) 13%, rgba(204, 75, 75, 1) 32%, rgba(223, 154, 58, 1) 100%);
    color: rgb(233, 210, 79);
    font-size: 28px;
    flex: 7;

}

